h2.journalSubTitle Must read
- for (var i in articlesMustRead)
	if i == 0
		a(href="/journal/" + articlesMustRead[i].path, title=articlesMustRead[i].title).journalArticle.first
			span.date= articlesMustRead[i].date
			h1= articlesMustRead[i].title
			div.journalReadLink
				span Read
	else if i == articlesMustRead.length - 1
		a(href="/journal/" + articlesMustRead[i].path, title=articlesMustRead[i].title).journalArticle.last
			span.date= articlesMustRead[i].date
			h1= articlesMustRead[i].title
			div.journalReadLink
				span Read
	else
		a(href="/journal/" + articlesMustRead[i].path, title=articlesMustRead[i].title).journalArticle
			span.date= articlesMustRead[i].date
			h1= articlesMustRead[i].title
			div.journalReadLink
				span Read

h2.journalSubTitle Other articles
- for (var i in articlesOthers)
	if i == 0
		a(href="/journal/" + articlesOthers[i].path, title=articlesOthers[i].title).journalArticle.first
			span.date= articlesOthers[i].date
			h1= articlesOthers[i].title
			div.journalReadLink
				span Read
	else if i == articlesOthers.length - 1
		a(href="/journal/" + articlesOthers[i].path, title=articlesOthers[i].title).journalArticle.last
			span.date= articlesOthers[i].date
			h1= articlesOthers[i].title
			div.journalReadLink
				span Read
	else
		a(href="/journal/" + articlesOthers[i].path, title=articlesOthers[i].title).journalArticle
			span.date= articlesOthers[i].date
			h1= articlesOthers[i].title
			div.journalReadLink
				span Read